*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    position: relative;
    height: 50px;
 }

  .search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    width: 50px;
    padding: 15px;
    height: 50px;
    transition: width 0.3s ease;
  }

  .btn {
    background-color: #fff;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.4s ease;
  }

  .btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
 
}

.search.active .btn {
  transform: translateX(198px);
}


